<h3 class="text-2xl font-bold mb-4">Biblioteca</h3>
<div class="flex flex-row justify-between">
  <label
    class="input input-bordered flex items-center gap-2 md:w-2/5 2xl:w-1/4"
  >
    <input type="text" class="grow" placeholder="Search" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70"
    >
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd"
      />
    </svg>
  </label>
  <button class="btn btn-primary" routerLink="/texto/adicionar">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
    Adicionar
  </button>
</div>
@if (textos?.length > 0) {
<div
  class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-3 py-5"
>
  @for (texto of textos; track texto._id) {
  <app-card-texto [texto]="texto"></app-card-texto>
  }
</div>
} @else {
<p class="mt-9 text-center">Nenhum texto encontrado!</p>
}
